@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #3a3a40;
  line-height: 1;
}
.accordion {
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);

  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 30px;
  row-gap: 32px;
}
.number,
.text {
  font-size: 24px;
  font-weight: 500;
  color: #087f5b;
}
.number {
  color: #ced4da;
  font-weight: 800;
}
.text {
  color: #3a3a40;
}
.icon {
  color: #087f5b;
}
.hidden-box {
  grid-column: 2;
  display: none;
}
.open > .hidden-box {
  display: block;
}
.open {
  border-top: 5px solid #087f5b;
}
.open > .text,
.open > .number {
  color: #087f5b;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: justify;
}
.hidden-box ul {
  color: #7a838b;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.accordion:nth-of-type(1) > .hidden-box {
  visibility: hidden;
}
